$poke-white: rgba(255, 255, 255, 1);
$poke-white-2: rgba(248, 248, 248, 1);
$poke-white-2-opacity: rgba(248, 248, 248, 0.2);
$poke-white-3: rgba(243, 243, 243, 1);
$poke-gray: rgba(54, 54, 54, 1);
$poke-gray-opacity: rgba(54, 54, 54, 0.9);
$poke-red: rgba(255, 31, 31, 1);
